

<footer class="container-fluid footer">
    <div class="col-md-12">
      <!--
<div class="col-md-2">
          <hr>
          <h4>Besoin d'un crédit</h4>
          <%= link_to "Fonctionnement", root_path %>
          <br>
          <%= link_to "Simuler un crédit", root_path %>
          <br>
          <%= link_to "Elements nécessaires", root_path %>
      </div>

        <div class="col-md-2">
          <hr>
          <h4>Prêter de l'argent</h4>
          <%= link_to "Fonctionnement", root_path %>
          <br>
          <%= link_to "Simuler vos rendements", new_loan_path  %>
          <br>
          <a href="#">À qui nous pretons</a>
      </div>
-->
      <div class="col-md-2 f_right">
          <%= link_to root_path, class: "footer-wagon-brand" do %>
          <%= image_tag "peanut-couleur.png" %>
          <% end %>
          <br>


          <a href="mailto:contact@peanut.life">contactez-nous</a>
          <br>

          <br>
          <div class="social">
              <a href="https://twitter.com" class="icons-twitter" target="_blank"></a>
              <a href="http://facebook.com" class="icons-facebook" target="_blank"></a>
          </div>
      </div>
    </div>
</footer>


