<div class="banner container-fluid" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.1) 50%),url(https://images.pexels.com/photos/134578/pexels-photo-134578.jpeg?w=940&amp;h=650&amp;auto=compress&amp;cs=tinysrgb); background-size: cover;">


  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="wrapper">
    <div class="container">
      <div class="row margin-clear">
        <div class="col-sm-10 col-sm-offset-1 box">
          <h1 class="padded-left text-white">Récapitulatif de votre crédit : </h1>
            <div class="row">
              <div class="col-sm-12">
                <div style="background-color: rgba(250,250,250,0.8); padding-top: 1px; padding-bottom: 15px; padding-left: 25PX; border-radius: 8px; text-align: left;">
                  <h3> Le montant du crédit demandé est de <strong class="essai"><%= @credit.amount %> € </h3>
                  <p> Vous receverez par mail en moins de 30 minutes, l'acceptation ou non de ce prêt. <br>Une fois validé votre carte sera directement créditée.</p>
                  <h3> Le <%= @credit.refund_at.strftime("%d/%m/%Y") %> la somme de <%= @credit.total_amount %> € sera débitée de votre compte. </h3>

                  <p>Cette sommes prends en compte les <strong> <%= @credit.interest%> €</strong> d'intérêts liés à votre crédit.</p>
                    <%= form_tag credits_path do %>
                      <article>
                        <% if flash[:error].present? %>
                          <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                          </div>
                        <% end %>
                      </article>
                      <%= submit_tag "Valider ce crédit", class: "btn", id: "connect"%>
                    <% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
