<div class="banner-newloan container-fluid text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.1) 50%),url(https://images.unsplash.com/photo-1467154243382-ebe2c7d14fef?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1064&amp;q=80&amp;cs=tinysrgb&amp;crop=); background-size: cover;">



  <div class="wrapper">
    <div class="col-sm-4 col-sm-offset-4 box margin-clear">
      <div class="row">
        <div class="col-sm-12 padded-left">
          <h1 class="text-white">Merci de vouloir participer à l'aventure <strong>Peanut!</strong> </h1>
          <h3 class="text-white">Démarrez votre simulation.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="parent">
            <div class="form-style-5">
              <%= simple_form_for @loan do |f| %>
                <%= f.error_notification %>
                <%= f.input :capital, label: "Entrez votre montant:", input_html: { value: "" } %>
                <table class="table table-loan">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Formule</th>
                      <th>Taux</th>
                      <th>Risque</th>
                      <th>Revenu Annuel</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="radio">
                          <label for="loan_roi_scurit">
                            <input class="radio_buttons optional" type="radio" value="Sécurité" name="loan[roi]" id="loan_roi_scurit" />
                          </label>
                        </span>
                      </td>
                      <td>Securité</td>
                      <td>3%</td>
                      <td>Faible</td>
                      <td id="sécurité"></td>
                    </tr>
                     <tr>
                      <td>
                        <span class="radio">
                          <label for="loan_roi_tranquilit">
                            <input class="radio_buttons optional" type="radio" value="Tranquilité" name="loan[roi]" id="loan_roi_tranquilit" />
                          </label>
                        </span>
                      </td>
                      <td>Tranquilité</td>
                      <td>6%</td>
                      <td>Modéré</td>
                      <td id="tranquilité"></td>
                    </tr>
                     <tr>
                      <td>
                        <span class="radio">
                          <label for="loan_roi_dynamique">
                            <input class="radio_buttons optional" type="radio" value="Dynamique" name="loan[roi]" id="loan_roi_dynamique" />
                          </label>
                        </span>
                      </td>
                      <td>Dynamique</td>
                      <td>9%</td>
                      <td>Important</td>
                      <td id="dynamique"></td>
                    </tr>
                  </tbody>
                </table>
                <div class="call">
                  <%= form_tag loans_path do %>
                    <article>
                      <% if flash[:error].present? %>
                        <div id="error_explanation">
                        <p><%= flash[:error] %></p>
                        </div>
                      <% end %>
                    </article>
                    <%= submit_tag "Investir votre argent", class: "btn", id: "connect"%>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

